<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Recipe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
    </div class = "position">
        <button type="button" class="btn btn-primary">Left</button>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Randon</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Meat</a></li>
                <li><a class="dropdown-item" href="#">Vegetable</a></li>
                <li><a class="dropdown-item" href="#">Drink</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary">Right</button>
    </div>
</nav>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<div class="col">
    <div class="card shadow-sm">
    <%= image_tag "food1.jpg" %>
    <div class="card-body">
        <h5 class="card-title">Food title</h5>
        <p class="card-text">Food description.</p>
        <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-body-secondary">9 mins</small>
        </div>
    </div>
    </div>
</div>
</div>